body {
  background-color: #f2f7ff;
  font-family: 'Abhaya Libre', sans-serif;
  margin: 0;

}


h1 {
color: #0b409c;
font-family: 'Allura', sans-serif;
font-size: 600%;
font-weight: 500;
margin: 0;

}
hr {
  border-style: dotted none none none;
  border-top-width: 5px;
  border-color: #0b409c;
  width: 10%;

}

h1:hover {
background-color: gold;


}
/********CLASS Selectors*******/
.form-control {
background-color: pink;
}

.top{
padding-right: 45px;
  height: 20vh;
  display: flex;
  justify-content:flex-end;
  align-items: center;

}
.top-link {
width: 80px;
display: inline-block;
text-align: center;
position: relative;
float: right;

}
.top-container {
height: 80vh;
width: 100%;
margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-container {
background-color: white;
height: 200px;
width: 100%;
margin: 0;
}

/********ID Selectors*******/

#nowosc {

font-size: 20px;

}
