body {
  background-color: #f2f7ff;
  font-family: 'Abhaya Libre', sans-serif;

}


h1 {
color: #0b409c;
font-family: 'Allura', sans-serif;
font-size: 42px;
font-weight: 500;

}
hr {
  border-style: dotted none none none;
  border-top-width: 5px;
  border-color: #0b409c;
  width: 10%;
}
